{% extends 'basereverse.html' %}
	{% block sidebar%}
		<div>
			{% if form.messages.errors %}
			{{ form.messages.errors }}
			{% endif %}
			{% if doesNotExist %}
			{{ error_message }}
			{% endif %}
		</div>
		<h3> Login Here </h3>
		<fieldset>
			<form action="", method="post">
				{% csrf_token%}
					{{form.as_p}}		
						<input type='submit' value='Login' class="floatbutton"/>
			</form>
		</fieldset>
		
		<p align="center">
			<h3>Don't Have an Account?</h3>
			<form action="/register/" align = "center">
				<input type='submit' value='Register!' class="floatbutton"/>
			</form>
		</p>
	{% endblock %}
	{% block title %}Announcements{% endblock %}
	{% block content%}
		announcements here po!
	{% endblock%}
